<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Route schedule for delivering</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
		width:80%;
      }
	  div.map {
        height: 90%;
		width:80%;
		
      }
	  
	  #table-route{
		width: 40%;
	  }
	  div.tableroute{
		height:90%;
		width: 20%;
		float: below;
	  }
	  div.form{
		height:10%;
		width: 80%;
		float: below;
	  }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
	  /*
	  div.container {
			background-color: #FF0000;
			margin: auto;   
			width: 304px;
	  }

	  div.div1 {
		border: 1px solid #000;
		float: left;
		width: 150px;
	  }
	  */
    </style>
  </head>

<body>
<!--
<div>A= <input id="a"/><br> B= <input id="b"></div>
Sum =<div id="sum"></div>
<button onclick="send()">Add</button>
-->

<div id="map" class="map"></div>
<div id="form" class="form">
ID<input type="text" id = "id-marker"></input>
type<select id="type-marker"><option value="Client" selected>Client</option><option value="Depot">Depot</option></select>
info<input type="text" id = "info-marker"></input>
<button onclick="updateMarkerInfo()">Update</button>

<br>
<button onclick="computeRoutes()">Compute Routes</button>
<button onclick="clearRoutes()">Clear Routes</button>
<button onclick="loadDemoSample()">Load Demo Sample</button>
</div>
<div id="div-table-route" class="tableroute">
	<table id="table-route">
		<tr><td>Route</td><td>Distance</td>
	</table>
</div>





<!--
<div>fromPoint= <input id="fromPoint"/><br> toPoint= <input id="toPoint"></div>
Path =<div id="path"></div>
<button onclick="findPath()">findPath</button>
<button onclick="getObjects()">view objects</button>
<div id = "objects"></div>
-->


</body>
<script>
      var map;
	  var centerLat;
	  var centerLng;
	  var markers = new Array();
	  var distances = [];
	  //var colors = ['#00cc00','#ffff1a','#ff3333','#66a3ff','#b30000','#800080',
	//				'#999900','#003380','#003300','#ff4dff'
		//		];
	  var colors = ['Chocolate','red','blue','green','black','brown','yellow','BlueViolet'];
	  //,'AntiqueWhite','Aqua','Aquamarine','Azure','Bisque','BurlyWood','CadetBlue','Chartreuse'];		
	  var fromPoint;
	  var toPoint;
	  var nbClicks = 0;
	  var polylines = [];
	  var serviceRoutes = [];
	  	function getCoordinateWindow(){
	        $.ajax({
            type: "POST",
            contentType: "application/json",
            //url: "/add",
            url: "http://localhost:8080/getCoordinateWindow",
            //data: JSON.stringify(data),
            //dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (rs) {
				rs = JSON.parse(rs);
				tmp = rs;
				drawLine(rs.minlat,rs.minlng,rs.minlat,rs.maxlng);
				drawLine(rs.minlat,rs.maxlng,rs.maxlat,rs.maxlng);
				drawLine(rs.maxlat,rs.maxlng,rs.maxlat,rs.minlng);
				drawLine(rs.maxlat,rs.minlng,rs.minlat,rs.minlng);
				centerLat = (rs.minlat + rs.maxlat)/2;
				centerLng = (rs.minlng + rs.maxlng)/2;
                console.log('center = ' + centerLat + ',' + centerLng);
				//console.log(rs);
				//console.log(rs.minlat);
				//console.log(rs.minlng);
				//console.log(rs.maxlat);
				//console.log(rs.maxlng);
				
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });

	}

      function initMap() {
		getCoordinateWindow();
	  
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.734995, lng: -122.43},
		  //center: {lat: centerLat, lng: centerLng},
          zoom: 12
        });
		map.addListener('click', function(e) {
			createMarker(markers.length,e.latLng,'Client',1);
			nbClicks = nbClicks + 1;
		});
		
      }
	  function createMarker(id, pos,type,info){
			var marker = new google.maps.Marker({
			map: map,
			draggable: true,
			id: id,
			//type: 'Client',
			type: type,
			//info: 1,
			info: info,
			//animation: google.maps.Animation.DROP,
			position: pos
			});
			
			markers.push(marker);
			
			marker.addListener('click', function() {
				processClickMarker(marker.id,marker);
			});
			marker.addListener('rightclick', function() {
				processRightClickMarker(marker.id,marker);
			});		
		
	  }
	  function getMarker(id){
		for(i = 0; i < markers.length; i++){
			if(markers[i].id == id) return markers[i];
		}
		
	  }
	  function processRightClickMarker(id,marker){
		var idx = markers.indexOf(marker);
		if(idx >= 0) markers.splice(idx,1);
		marker.setMap(null);
	  }
	  
	  function processClickMarker(id,marker){
		var contentString =
                        '<div id="myWindow">' +
                        '<ul class="nav nav-tabs text-center">' +
                        '<li class="active"><a href="#data" data-toggle="tab" aria-expanded="true">Data</a></li>' +
                        '<li class=""><a href="#info" data-toggle="tab" aria-expanded="false">Info</a></li>' +
                        '</ul>' +
                        '<div id="myTabContent" class="tab-content">' +
                        '<div class="tab-pane fade active in" id="data">' +
                        '<form class="form-horizontal" role="form">' +
                        '<div class="form-group">' +
                        '<label class="control-label col-md-3">Type: </label>' +
                        '<div class="col-sm-offset-1 col-md-8">' +
                        '<select id="markerType' + id + '" class="form-control" ng-change = "changeMarkerType(' + id + ')" ng-model="markers[' + id + '].type">' +
                        '<option>Client</option>' +
                        '<option>Depot</option>' +
                        '</select>' +
                        '</div>' +
                        '</div>' +
                        '<div class="form-group" ng-show="markers[' + id + '].type==\'Depot\'">' +
                        '<label class="control-label col-md-3"  >Info: </label>' +
                        '<div class="col-sm-offset-1 col-md-8">' +
                        '<input id="info' + id + '" type="number" class="form-control" placeholder="Enter capacity" ng-model="markers[' + id + '].info">' +
                        '</div>' +
                        '</div>' +
                        '<div class="form-group" ng-show="markers[' + id + '].type==\'Client\'">' +
                        
						'<button onclick="updateInfo(' + id + ')">Update</button>'
                        '</div>' +
                        '</div>' +
                            
                        '</div>' +
                        '</div>' +
                        '</form>' +
                        '</div>' +
                        '<div class="tab-pane fade" id="info">' +
                        '<form class="form-horizontal" role="form">' +
                        '<div class="form-group">' +
                        '<label class="control-label col-md-4">Marker {{markers[' + id + '].id}} : </label>' +
                        '<div class="col-sm-offset-1 col-md-7">' +
                        '<p>Lat : {{markers[' + id + '].position.lat()}}</br> Lng : {{markers[' + id + '].position.lng()}}</p>' +
                        '</div>' +
                        '</div>' +
                        '</form>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
						
			//var infowindow = new google.maps.InfoWindow({
			//	content: contentString
			//});
			//infowindow.open(map,marker);
			document.getElementById("id-marker").value = marker.id;
			document.getElementById("type-marker").value = marker.type;
			document.getElementById("info-marker").value = marker.info;
			
			
		
	  }
	  function updateMarkerInfo(){
		var id = document.getElementById("id-marker").value; 
		var type = document.getElementById("type-marker").value; 
		var info = document.getElementById("info-marker").value; 
		var marker = getMarker(id);
		marker.info = info;
		marker.type = type;
	  }
	  function updateInfo(id){
		var type = document.getElementById("markerType" + id).value; 
		var info = document.getElementById("info" + id).value; 
		//alert('updateInfo(), id = ' + id + ', type = ' + type + ', info = ' + info);
		markers[id].info = info;
		markers[id].type = type;
	  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4J_MmzBlcyqjkB-xU0yVTiruFQ0wufEg&callback=initMap"
    async defer>
</script>

<script>
	var tmp;
	var demoSample;
	
	function loadDemoSample(){
		$.ajax({
            type: "POST",
            contentType: "application/json",
            //url: "/add",
            url: "http://localhost:8080/loadRouteVRPInput",
            //data: JSON.stringify(data),
            //dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (rs) {
				demoSample = JSON.parse(rs);
				console.log(demoSample);
				for(i = 0; i < markers.length; i++){
					markers[i].setMap(null);
				}
				markers = [];
				for(i = 0; i < demoSample.points.length; i++){
					var p = demoSample.points[i];
					createMarker(p.id,new google.maps.LatLng(p.lat,p.lng),p.type,p.info);
				}
				distances = demoSample.distances;
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
	}
	
	function clearRoutes(){
		for(i = 0; i < polylines.length; i++){
			polylines[i].setMap(null);
		}
		polylines = [];
	}
	function computeRoutes(){
		var inputRoutes = new Array();
		for(i = 0; i < markers.length; i++){
			inputRoutes.push({'id':markers[i].id + '',
							'lat':markers[i].position.lat(),
							'lng':markers[i].position.lng(),
							'type':markers[i].type,
							'info':markers[i].info
							}
							);
		}
		
		var data = {
			'points': inputRoutes,
			'distances': distances			
		}
		
		$.ajax({
            type: "POST",
            contentType: "application/json",
            //url: "/add",
            url: "http://localhost:8080/computeRouteVRP",
            data: JSON.stringify(data),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (rs) {
				console.log(rs);
				serviceRoutes = [];
				for(i = 0; i < rs.routes.length; i++){
					var r = rs.routes[i];
					//var itineraries = [];
					for(j = 0; j < r.points.length-1; j++){
						//drawQueryRoute(r.points[j].lat + ',' + r.points[j].lng,r.points[j+1].lat + ',' + r.points[j+1].lng,colors[i]);
						
						//drawLine(r.points[j].lat, r.points[j].lng,r.points[j+1].lat, r.points[j+1].lng);
						drawPath(r.paths[j],colors[i%colors.length]);
						//drawPath(rs.routes[i].paths[j],colors[i]);
						//console.log('drawPath ',r.paths[j]);
					}
					//var serviceRoute = {'servicePoints':r,'paths':itineraries};
					serviceRoutes.push(r);
					
					var tbl = document.getElementById("table-route");
					var row = tbl.insertRow(tbl.rows.length);
					var c1 = row.insertCell(0);
					var c2 = row.insertCell(1);
					var c3 = row.insertCell(2);
					var c4 = row.insertCell(3);
					c1.innerHTML = r.points.length;
					c2.innerHTML = Number(r.length).toFixed(2);
					c3.innerHTML = '<input type="text" id="vehicle-' + i + '"/>';
					c4.innerHTML = '<button onclick="runRoute(' + i + ')">Run</button>';
					
				}
				
            },
            error: function (e) {
                console.log("ERROR : ", e);


            }
        });
	}
	function runRoute(routeIndex){
		var vehicleCode = document.getElementById("vehicle-" + routeIndex).value;
		var serviceRoute = serviceRoutes[routeIndex];
		var data = {'vehicleCode':vehicleCode,'route':serviceRoute};
		console.log(data);
		//return;
		$.ajax({
            type: "POST",
            contentType: "application/json",
            //url: "/add",
            url: "http://localhost:8080/runRoute",
            data: JSON.stringify(data),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (rs) {
				console.log(rs);
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
	}
	
    function send() {
        var data={ 'a':$('#a').val(),
            'b':$('#b').val()};

        $.ajax({
            type: "POST",
            contentType: "application/json",
            //url: "/add",
            url: "http://localhost:8080/add",
            data: JSON.stringify(data),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (rs) {

                console.log(rs);
				var path = '';
				for(i = 0; i < rs.points.length;i++){
					path = path + '-' + rs.points[i].lat + ',' + rs.points[i].lng;
				}
                $('#path').text(path);
            },
            error: function (e) {

                console.log("ERROR : ", e);


            }
        });
    }
	function drawLine(lat1, lng1, lat2, lng2){
		//alert(lat1 + ',' + lng1 + ',' + lat2 + ',' + lng2);
	
		var coor = [{'lat':lat1,'lng':lng1},{'lat':lat2,'lng':lng2}];
		
				var flightPath = new google.maps.Polyline({
				path: coor,
				geodesic: true,
				strokeColor: '#FF0000',
				strokeOpacity: 1.0,
				strokeWeight: 2
				});

				flightPath.setMap(map);
				polylines.push(flightPath);
	
	}
	function drawPath(p,color){
		var coor = [];
				
				for(ii = 0; ii < p.points.length;ii++){
					//path = path + '-' + rs.points[i].lat + ',' + rs.points[i].lng;
					coor.push({'lat':p.points[ii].lat,'lng':p.points[ii].lng});
				}
                //$('#path').text(path);
				var flightPath = new google.maps.Polyline({
				path: coor,
				geodesic: true,
				strokeColor: color,
				strokeOpacity: 1.0,
				strokeWeight: 2
				});
				
				polylines.push(flightPath);
				
				flightPath.setMap(map);
	}
	function drawQueryRoute(latlng1, latlng2, color){
		console.log('drawRoute color = ' + color);
        var data={ 'fromPoint':latlng1,
            'toPoint':latlng2			
			};
		
		//alert('findPath, data = ' + data);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            //url: "/add",
            url: "http://localhost:8080/findShortestPath",
            data: JSON.stringify(data),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (rs) {
				//console.log(rs);
				//route = rs;
				//return rs;
				
                
				//var path = '';
				var coor = Array();
				
				for(i = 0; i < rs.points.length;i++){
					//path = path + '-' + rs.points[i].lat + ',' + rs.points[i].lng;
					coor.push({'lat':rs.points[i].lat,'lng':rs.points[i].lng});
				}
                //$('#path').text(path);
				var flightPath = new google.maps.Polyline({
				path: coor,
				geodesic: true,
				strokeColor: color,
				strokeOpacity: 1.0,
				strokeWeight: 2
				});
				
				polylines.push(flightPath);
				
				flightPath.setMap(map);
				
            },
            error: function (e) {



                console.log("ERROR : ", e);


            }
        });
		
		
	}
	function findShortestPath(latlng1, latlng2){
        var data={ 'fromPoint':latlng1,
            'toPoint':latlng2			
			};
		var route;	
		//alert('findPath, data = ' + data);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            //url: "/add",
            url: "http://localhost:8080/findShortestPath",
            data: JSON.stringify(data),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (rs) {
				console.log('call findShortestPath, GET ',rs);
				route = rs;
				return route;
				
                /*
				//var path = '';
				var coor = Array();
				
				for(i = 0; i < rs.points.length;i++){
					//path = path + '-' + rs.points[i].lat + ',' + rs.points[i].lng;
					coor.push({'lat':rs.points[i].lat,'lng':rs.points[i].lng});
				}
                //$('#path').text(path);
				var flightPath = new google.maps.Polyline({
				path: coor,
				geodesic: true,
				strokeColor: '#FF0000',
				strokeOpacity: 1.0,
				strokeWeight: 2
				});

				flightPath.setMap(map);
				*/
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
		return route;
	}
	
	function findPath() {
		drawQueryRoute($('#fromPoint').val(),$('#toPoint').val(),'#FF0000');
		return;
		
        var data={ 'fromPoint':$('#fromPoint').val(),
            'toPoint':$('#toPoint').val()
			
			};
		//alert('findPath, data = ' + data);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            //url: "/add",
            url: "http://localhost:8080/findShortestPath",
            data: JSON.stringify(data),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (rs) {

                console.log(rs);
				//var path = '';
				var coor = Array();
				
				for(i = 0; i < rs.points.length;i++){
					//path = path + '-' + rs.points[i].lat + ',' + rs.points[i].lng;
					coor.push({'lat':rs.points[i].lat,'lng':rs.points[i].lng});
				}
                //$('#path').text(path);
				var flightPath = new google.maps.Polyline({
				path: coor,
				geodesic: true,
				strokeColor: '#FF0000',
				strokeOpacity: 1.0,
				strokeWeight: 2
				});

				flightPath.setMap(map);
				
            },
            error: function (e) {



                console.log("ERROR : ", e);


            }
        });
    }
	
	function getObjects() {
        

        $.ajax({
            type: "POST",
            contentType: "application/json",
            //url: "/add",
            url: "http://localhost:8080/getObjects",
            //data: JSON.stringify(data),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (result) {

                console.log(result);
				var tbl = '<table border = 1>'
				+ '<tr><td>ID</td><td>Lat</td><td>Lng</td></tr>';
				for(i = 0; i < result.length; i++){
					tbl = tbl + '<tr><td>' + result[i].id + '</td><td>' + result[i].lat + '</td><td>' 
					+ result[i].lng + '</td></tr>';
				}
				tbl = tbl + '</table>';
				console.log(result.length);
				console.log(tbl);
                document.getElementById("objects").innerHTML = tbl;
            },
            error: function (e) {
                console.log("ERROR : ", e);

            }
        });
    }

</script>
</html>